body{
  background-color: #373737;
}
#root{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#drum-machine{
  background: #ddd;
  min-height: 300px;
  min-width: 500px;
  border: 5px solid #CC0000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
}
#sounds-panel{
  margin: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.drum-pad{
  cursor: pointer;
  font-weight: bolder;
  height: 60px;
  width: 80px;
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 2px 1px #0B0A0A;
  align-items: center;
  background-color: #616a6b;
  margin-left: 1em;
  margin-top: 1em;
  border-radius: 10px;
}
.pulsed{
  background-color: #CC0000;
  color: white;
  cursor: pointer;
  font-weight: bolder;
  height: 60px;
  width: 80px;
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 2px 1px black;
  align-items: center;
  margin-left: 1em;
  margin-top: 1em;
  border-radius: 10px;
}
#display{
  background-color: #282e2e;
  color: white;
  text-align: center;
  width: 70%;
  padding: 10px 0px;
  border-radius: 10px;
}
#control-panel{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#power{
  width: 40px;
  height: 20px;
  background-color: darkgreen;
}
