@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
body{
  background-color: #d3d3d3;
  font-weight: bolder;
  font-family: 'Cabin', sans-serif;
}
#root{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#drum-machine{
  background: #ddd;
  min-height: 300px;
  min-width: 500px;
  border: 5px solid #CC0000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
}
#sounds-panel{
  margin: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.drum-pad{
  cursor: pointer;
  font-weight: bolder;
  height: 60px;
  width: 80px;
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 2px 1px #0B0A0A;
  align-items: center;
  background-color: #616a6b;
  margin-left: 1em;
  margin-top: 1em;
  border-radius: 10px;
  transition: all .2s;
}
.pulsed{
  background-color: #CC0000;
  color: white;
  cursor: pointer;
  font-weight: bolder;
  height: 60px;
  width: 80px;
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 2px 1px black;
  align-items: center;
  margin-left: 1em;
  margin-top: 1em;
  border-radius: 10px;
}
#display{
  background-color: #555;
  border: 3px solid black;
  color: white;
  text-align: center;
  width: 70%;
  padding: 10px 0px;
  font-weight: 400;
}
#control-panel{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#power{
  width: 40px;
  height: 20px;
  background-color: darkgreen;
  border: 3px solid black;
  transition: all .2s;
}
.volume-control{
  text-align: center;
}
.slider {
  appearance: none;
  background: #d3d3d3; 
  outline: none; 
  background: gray;
  height: 5px;
  cursor: pointer;
}

